.condition_hh{
  
    font-size:16px;

}

.p_privacy{
     padding-top:80px;
     padding-bottom:100px;
  
}

.backimg_privacy{
    width:100%;

}


.privacy_heading{
    color:#fff;
}


.privacy_heading_l{
    color:#fff;
    font-size:60px;
    font-weight:400;
}

.font_clr_privacy{
    font-size:18px;
    color:#000000;
}

.font_clr_privacy_a{
     
     font-size:14px;
     color:rgb(27, 33, 35);
    
}

.font_clr_privacy{
        
     font-size:13px;
}

.privacy_li{
    list-style-type: square;
    font-size:14px;
    color:#000000;
    font-size:600;
  
}