
.main_notification {
    width: 100%;
    background-color: #FFEFE5;
    // background-color:red !important;
    //    background-color:red ;
}

.warp_text{
      word-wrap: break-word;
      width:200px;
    
}