jk{
    font-size:15px;
    font-weight:500;

}

.jk{
    font-size:12px;
    font-weight:400;

}

.ji{
    font-weight:600;
    font-size:14px;
}

.yy{
    position: absolute;
    top:5px;
    right:15px;
    
}

.uu{
    position: relative;
    background-color:#FFEFE5;
}

.status_ac{
     border:1px solid red;
     border-radius:25px !important;
}


.Text_title_size{
    width:150px;
    word-wrap:break-word;
    text-align:left;
}


.Text_location_size{
    width:150px;
    word-wrap:break-word;
    text-align:left;
    font-weight:600;
}

.chipps{
     
     border:1px solid blue;
     padding:1px;
     border-radius:10px;
     font-size:10px;
}